.form-custom {
  border: 2px solid #ff00ff;
  box-shadow: 0 0 10px #ff00ff;
}
.form-custom:hover {
  box-shadow: 0 0 14px #ff00ff;
}

.banner-form {
  background-image: url(https://giffiles.alphacoders.com/212/212876.gif);
}

.bg-form {
  background-color: #1a1a2e;
}

.card-customi {
  border: 2px solid #ff00ff;
  box-shadow: 0 0 10px #ff00ff;
}

.size-col {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
}

.titulo-custom-form {
  font-size: 3em;
  font-weight: bold;
  -webkit-text-stroke: 1px rgb(232, 22, 255);
  text-shadow: 0 0 25px #5b0354;
  color: transparent;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

.boton-formulario {
  width: 40%;
  background-color: #b526dc;
  color: black;
  border: 2px solid#f403d8;
  box-shadow: 0 0 10px #f003f4;
  margin-left: 120px;
  margin-top: 10px;
}

.boton-formulario:hover {
  background-color: #7d039f;
  border: 2px solid#f403d8;
  box-shadow: 0 0 10px #900593;
}
