.titulo-custom {
  font-size: 5.4em;
  font-weight: bold;
  -webkit-text-stroke: 1px rgb(216, 161, 222);
  text-shadow: 0 0 25px #ae4ba7;
  color: transparent;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  margin-bottom: 20px;
}

.subtitulo-custom {
  font-size: 1.8em;
  text-shadow: 0 0 5px #03e9f4, 0 0 50px #03e9f4;
  padding-bottom: 50px;
}

.image-custom {
  height: 70vh;
  object-fit: cover;
}

.form-custom {
  max-width: 500px;
}
.form-custom input::placeholder {
  color: rgba(103, 248, 248, 0.951);
}
.neon-input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid #ff00ff;
  border-radius: 12px;
  background: transparent;
  color: #00ffff;
  box-shadow: 0 0 10px #ff00ff;
  outline: none;
  transition: all 0.3s ease;
}

.neon-input:focus {
  box-shadow: 0 0 14px #ff00ff;
}
.category-card {
  position: relative;
  overflow: hidden;
  height: 200px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(86, 179, 237, 0.482);
}

.category-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  display: block;
}

.category-card:hover .category-card-img {
  transform: scale(1.1);
}

.category-card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(12, 42, 85, 0.811), transparent);
  color: white;
  padding: 1rem;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity 0.4s ease;
}

.category-card:hover .category-card-overlay {
  opacity: 1;
}

.category-card-overlay h5,
.category-card-overlay p {
  margin: 0;
}

.consulta-bar {
  background-color: #151536;
  padding: 30px;
  margin-bottom: 50px;
  border-top: 2px solid #0a9c9c;
  box-shadow: 0px -2px 10px #00ffff33;
}

.consulta-text {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.boton-bar {
  color: #f0f0f5;
  font-weight: bold;
  border: 2px solid #0c9a9a;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 0.9rem;
  box-shadow: 0 0 10px #00ffff88;
  transition: all 0.3s ease;
  text-decoration: none;
}
.boton-bar:hover {
  background: linear-gradient(145deg, #19a1a1, #00ccff);
  color: #121212;
  border-color: #0f8282;
  box-shadow: 0 0 10px #149e9e88;
}
