.menu-bg {
  background-color: #07051a;
}

.color-texto .nav-link {
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.color-texto .nav-link:hover {
  text-shadow: 0 0 5px #d403f4, 0 0 25px #c803f4, 0 0 50px #f403e4,
    0 0 100px #f403ec;
}

.texto-iniciarsesion .nav-link {
  font-weight: 500;
  color: rgb(220, 188, 229);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #cf66dd, 0 0 25px #c976dc, 0 0 50px #d085cb,
    0 0 100px #dd72d9;
}

.texto-iniciarsesion .nav-link:hover {
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.hamburguesa-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link.active {
  text-shadow: 0 0 5px #b665cf, 0 0 25px #c176dc, 0 0 50px #b785d0,
    0 0 100px #d172dd;
  color: rgb(184, 140, 184) !important;
}

.btn-menu {
  background-color: transparent;
  border: none;
  font-weight: 500;
  color: rgb(220, 188, 229);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #cf66dd, 0 0 25px #c976dc, 0 0 50px #d085cb,
    0 0 100px #dd72d9;
}

.btn-menu:hover {
  background-color: transparent;
  border: none;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  color: #03e9f4;
}
